#include <behaviors.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/outputs.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/adv360_custom.h"

//#include "./mouse.dtsi"

#include "general.h"
#include "homerow_mods.h"
#include "custom_behaviors.h"

#define BASE    0
#define LOWER   1
#define SYMBOL  2
#define MOUSE   3
#define MAGIC   4

#define TO_MAGIC  &to MAGIC
#define ONEPASSWD &kp LG(LS(SPACE))
#define SPOTLIGHT &kp LG(SPACE)
#define EMOJI     &kp LG(LC(SPACE))

ADV360_LAYER(Base,
// ╭───────────────┬───────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp GRAVE       &kp N1      &kp N2        &kp N3        &kp N4         &kp N5      XXX              XXX           &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp MINUS
// ├───────────────┼───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp TAB         &kp Q       &kp W         &kp E         &kp R         &kp T        XXX              XXX           &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSLH
// ├───────────────┼───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &mt LCTRL ESC   A_LCTRL     S_LALT        D_LGUI        F_LSHFT       &kp G        XXX          ,   XXX           &kp H         J_RSHFT       K_RGUI        L_RALT        SEMI_RCTRL    &kp SQT
// ├───────────────┼───────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp GRAVE       &kp Z       &kp X         &kp C         &kp V         &kp B                     ,                 &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp EQUAL
// ├───────────────┼───────────┼─────────────┼─────────────┼─────────────┼────────────╯                              ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     TO_MAGIC        XXX         XXX           &kp LEFT      &kp RIGHT                               ,                               &kp LPAR      &kp LBKT      &kp RBKT      &kp RPAR      XXX
/* ╰───────────────┴───────────┴─────────────┴─────────────┴─────────────╯                        */ , /*                          ╰─────────────┴──────────────┴────────────┴─────────────┴─────────────╯ */
//                                                                ╭──────────────────┬──────────╮         ╭───────────┬───────────────╮
                                                                     &smart_shft       XXX                  ONEPASSWD    &kp TAB
/*                                               ╭────────────────┼──────────────────┼──────────┤ */ , /* ├───────────┼───────────────┼─────────────────────╮ */
                                                                                       EMOJI                SPOTLIGHT
/*                                               |                |                  ├──────────┤ */ , /* ├───────────|               |                     | */
                                                   &kp BACKSPACE    &thumb LOWER ESC   XXX                  &to MOUSE   &kp RET         &space SYMBOL SPACE
//                                               ╰────────────────┴──────────────────┴──────────╯         ╰───────────┴───────────────┴─────────────────────╯
)


ADV360_LAYER(Lower,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6       XXX              XXX           &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     ___           ___           ___           ___           ___           ___          ___              ___           ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     ___           ___           ___           ___           &kp LSHFT     ___          ___          ,   ___           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     ___           ___           ___           ___           ___           ___                       ,                 ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────╯                              ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     ___           ___           ___           ___           ___                                     ,                               ___           ___           ___           ___           ___
/* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                        */ , /*                          ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
//                                                                ╭──────────────────┬──────────╮         ╭───────────┬───────────────╮
                                                                    ___                ___                  ___         ___
/*                                               ╭────────────────┼──────────────────┼──────────┤ */ , /* ├───────────┼───────────────┼─────────────────────╮ */
                                                                                       ___                  ___
/*                                               |                |                  ├──────────┤ */ , /* ├───────────|               |                     | */
                                                    ___             ___                ___                  ___         ___             &kp DEL
//                                               ╰────────────────┴──────────────────┴──────────╯         ╰───────────┴───────────────┴─────────────────────╯
)


ADV360_LAYER(Symbol,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           &kp GRAVE     &kp LPAR      &kp RPAR      &kp SEMI      &kp COMMA    XXX              XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp EXCL      &kp LBRC      &kp SQT       &kp DQT       &kp RBRC      &kp QMARK    XXX              XXX           &kp RSHFT     &kp RGUI      &kp LALT      &kp RCTRL     XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp HASH      CARET_LCTRL   EQUAL_LALT    UNDER_LGUI    DLLR_LSHFT    &kp STAR     XXX          ,   XXX           &kp BSPC      TAB_RSHFT     SPACE_RGUI    ENTER_RALT    &kp RCTRL     XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp AT        &kp LT        &kp PIPE      &kp MINUS     &kp GT        &kp FSLH                  ,                 &kp DEL       &kp LS(TAB)   XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────╯                              ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp TILDE     &kp AMPS     &kp LBKT       &kp RBKT      &kp PLUS                               ,                                XXX           XXX           XXX           XXX           XXX
/* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                        */ , /*                          ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
//                                                                ╭──────────────────┬──────────╮         ╭───────────┬───────────────╮
                                                                     &kp BSLH         &kp DOT               XXX         XXX
/*                                               ╭────────────────┼──────────────────┼──────────┤ */ , /* ├───────────┼───────────────┼─────────────────────╮ */
                                                                                       &kp STAR             XXX
/*                                               |                |                  ├──────────┤ */ , /* ├───────────|               |                     | */
                                                   &kp PRCNT        &kp COLON          &kp SEMI             XXX         XXX             XXX
//                                               ╰────────────────┴──────────────────┴──────────╯         ╰───────────┴───────────────┴─────────────────────╯
)


ADV360_LAYER(Mouse,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           XXX           XXX           XXX           XXX           XXX          XXX              XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           &kp RALT      XXX           XXX           XXX          XXX              XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp LCTRL     &kp LALT      &kp LGUI      &kp LSHIFT    XXX          XXX          ,   XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX                       ,                 XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────╯                              ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX                                     ,                               XXX           XXX           XXX           XXX           XXX
/* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                        */ , /*                          ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
//                                                                ╭──────────────────┬──────────╮         ╭───────────┬───────────────╮
                                                                    XXX                XXX                  XXX         XXX
/*                                               ╭────────────────┼──────────────────┼──────────┤ */ , /* ├───────────┼───────────────┼─────────────────────╮ */
                                                                                       XXX                  XXX
/*                                               |                |                  ├──────────┤ */ , /* ├───────────|               |                     | */
                                                    XXX             XXX                XXX                  &to BASE    XXX             XXX
//                                               ╰────────────────┴──────────────────┴──────────╯         ╰───────────┴───────────────┴─────────────────────╯
)


ADV360_LAYER(Magic,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┬────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           XXX           XXX           XXX           XXX           XXX          XXX              XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX          XXX              XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX          XXX          ,   XXX           XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┼────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX                       ,                 XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────╯                              ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX                                     ,                               XXX           XXX           XXX           XXX           XXX
/* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                        */ , /*                          ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
//                                                                ╭──────────────────┬──────────╮         ╭───────────┬───────────────╮
                                                                    XXX                XXX                  XXX         XXX
/*                                               ╭────────────────┼──────────────────┼──────────┤ */ , /* ├───────────┼───────────────┼─────────────────────╮ */
                                                                                       XXX                  XXX
/*                                               |                |                  ├──────────┤ */ , /* ├───────────|               |                     | */
                                                    XXX             XXX                XXX                  XXX         XXX             XXX
//                                               ╰────────────────┴──────────────────┴──────────╯         ╰───────────┴───────────────┴─────────────────────╯
)
